*.o
*.a
*.so
*.lo
*.la
*~
*.orig
.deps/
.libs/
Doxyfile

# various files created by a make check
libsofia-sip-ua/bnf/torture_bnf
libsofia-sip-ua/http/test_http
libsofia-sip-ua/ipt/torture_base64
libsofia-sip-ua/iptsec/test_auth_digest
libsofia-sip-ua/msg/msg_name_hash
libsofia-sip-ua/msg/test_msg
libsofia-sip-ua/nta/portbind
libsofia-sip-ua/nta/test_nta
libsofia-sip-ua/nta/test_nta_api
libsofia-sip-ua/nth/http-client
libsofia-sip-ua/nth/http-server
libsofia-sip-ua/nth/test_nth
libsofia-sip-ua/sdp/test_sdp
libsofia-sip-ua/sdp/torture_sdp
libsofia-sip-ua/sip/test_date
libsofia-sip-ua/sip/test_sip_msg
libsofia-sip-ua/sip/torture_sip
libsofia-sip-ua/sip/validator
libsofia-sip-ua/soa/test_soa
libsofia-sip-ua/sresolv/test_sresolv
libsofia-sip-ua/sresolv/torture_sresolv
libsofia-sip-ua/stun/lookup_stun_server
libsofia-sip-ua/stun/stunc
libsofia-sip-ua/su/addrinfo
libsofia-sip-ua/su/localinfo
libsofia-sip-ua/su/sofia-sip/stamp-h2
libsofia-sip-ua/su/sofia-sip/su_configure.h
libsofia-sip-ua/su/su_proxy
libsofia-sip-ua/su/test_htable
libsofia-sip-ua/su/test_htable2
libsofia-sip-ua/su/test_memmem
libsofia-sip-ua/su/test_poll
libsofia-sip-ua/su/test_su
libsofia-sip-ua/su/torture_heap
libsofia-sip-ua/su/torture_rbtree
libsofia-sip-ua/su/torture_su
libsofia-sip-ua/su/torture_su_alloc
libsofia-sip-ua/su/torture_su_bm
libsofia-sip-ua/su/torture_su_port
libsofia-sip-ua/su/torture_su_root
libsofia-sip-ua/su/torture_su_tag
libsofia-sip-ua/su/torture_su_time
libsofia-sip-ua/su/torture_su_timer
libsofia-sip-ua/tport/test_tport
libsofia-sip-ua/url/torture_url
packages/sofia-sip-ua-glib.pc
packages/sofia-sip-ua.pc
stamp-h1
tests/test_nua
utils/sip-date
utils/sip-dig
utils/sip-options
